https://colab.research.google.com/drive/1nqktZwKreze8duQ5t4_lVNjFLE666R_P?usp=sharing

B) Lambda Functions can't be stored in Variable
C) Lambda function takes a set of inputs and returns one or more outputs

In [ ]:
a = lambda x: x**2
a(3)

9

In [ ]:
a = lambda x,y: [x*y,y*x]
a(3,4)

[12, 12]

### Map:

In [ ]:
list1 = [1,2,3,4,5,6,7]

list2 = [i*i for i in list1]
list2

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
def func(x):
  return x**2

print(map(func, list1))

<map object at 0x7f8c89c6f580>

In [ ]:
print(list1)
list(map(func, list1))

[1, 2, 3, 4, 5, 6, 7]

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
list(map(int, "1 2 3".split(" ")))

[1, 2, 3]

In [ ]:
list(map(int, input().split(" ")))

4 5 6

[4, 5, 6]

In [ ]:
print(list1)
list(map(lambda x:x**2+10, list1))

[1, 2, 3, 4, 5, 6, 7]

[1, 4, 9, 16, 25, 36, 49]

```
1: List Comp
2. Standard func with map
3. Lambda func with map

```

In [ ]:
import time 

start = time.time()

list1 = [1,2,3,4,5,6,7]
list2 = [i*i for i in list1]
print(list2)

end  = time.time()
print(f"time taken: {end-start}")

[1, 4, 9, 16, 25, 36, 49]
time taken: 0.0035452842712402344

In [ ]:
import time 

start = time.time()

def func(x):
  return x**2
list1 = [1,2,3,4,5,6,7]
list2 = list(map(func, list1))
print(list2)

end  = time.time()
print(f"time taken: {end-start}")

[1, 4, 9, 16, 25, 36, 49]
time taken: 0.002153635025024414

In [ ]:
%%timeit
list1 = [1,2,3,4,5,6,7]
list2 = [i*i for i in list1]
# print(list2)

841 ns ± 244 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [ ]:
%%timeit
def func(x):
  return x**2
list1 = [1,2,3,4,5,6,7]
list2 = list(map(func, list1))

4.73 µs ± 1.47 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

### Filter

In [ ]:
a = list(range(1,10))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
filter(lambda x:x%2==0,a)

In [ ]:
list(filter(lambda x:x%2==0,a))

[2, 4, 6, 8]

In [ ]:
def function(x,y):
  return x+y

def function2(x,y):
  return x*y


a = range(1,8)

In [ ]:
from functools import reduce

reduce(function,a)

28

In [ ]:
reduce(function2,a)

5040

In [ ]:
reduce(lambda x,y: x+y,a)

28

In [ ]:
a = range(1,8)
reduce(lambda x,y: x if x>y else y ,a)

7

In [ ]:
(lambda x,y: x if x>y else y)(1,3)

3

Zip: takes two iterables, and zips thems

In [ ]:
list1 = [ 3,4,5]
list2 = [ 6,7,8]
zip(list1, list2)

In [ ]:
list(zip(list1, list2))

[(3, 6), (4, 7), (5, 8)]

In [ ]:
list1 = [ 3,4,5, 6 ,10, 11]
list2 = [ 6,7,8]
list(zip(list1, list2))

[(3, 6), (4, 7), (5, 8)]

In [ ]:
list1 = [3,4,5, 6 ,10, 11]
list2 = [6,7,8, 99, 80]
list3 = [10,11,12]

list(zip(list1,list2,list3))

[(3, 6, 10), (4, 7, 11), (5, 8, 12)]

In [ ]:
# homework
list(map(list, list(zip(list1,list2,list3))))

[[3, 6, 10], [4, 7, 11], [5, 8, 12]]

In [ ]:
for k,v in zip(list1, list2):
  print(k,v)

3 6
4 7
5 8
6 99
10 80

In [ ]:
student = ["Himanshi", "Gouni", "Sharat"]
marks = [90, 40, 100]
dict(zip(student,marks))

{'Himanshi': 90, 'Gouni': 40, 'Sharat': 100}

In [ ]:
#list(zip(*zip_obj))
# unzipping
list(zip(*zip(student,marks)))

[('Himanshi', 'Gouni', 'Sharat'), (90, 40, 100)]

- Homework:
Create a cheat sheet

- Variable number of arguments: *args and *kwargs

In [ ]:
def funct(x,y):
  return x+y

funct(3,4,6)

TypeError: ignored

In [ ]:
def funct(x,y,*args):
  print("X",x)
  print("Y",y)
  print("args",*args)

funct(3,4,5,6)

X 3
Y 4
args 5 6

In [ ]:
def funct(x,y,*args):
  print("X",x)
  print("Y",y)
  print("args",*args, type(args))
  for i in args:
    print(i)

funct(3,4,5)

X 3
Y 4
args 5 <class 'tuple'>
5

In [ ]:
def do_sum(x,y,*args):
  sum1 = x+y
  for i in args:
    sum1+=i 
  return sum1

do_sum(3,4,9, 10)

26

When you want to create a function which can take variable number of argument you can use *args

In [ ]:
def do_sum(x,y,*somename):
  sum1 = x+y
  for i in somename:
    sum1+=i 
  return sum1

do_sum(3,4,9, 10)

26

Kwargs: variable anmed arguments

In [ ]:
def func2(name,age):
  print(name)
  print(age)

func2("Joshith",20)

Joshith
20

In [ ]:
def func2(name,age, **extra_info):
  print(name)
  print(age)
  #print(extra_info)
  #print(extra_info["gender"])
  print(extra_info.get("gender",  "Gender Not Filled"))

func2("Joshith",20, gender= 'Male')

Joshith
20
Male

In [ ]:
def func2(name,age, **extra_info):
  print(name)
  print(age)
  #print(extra_info)
  #print(extra_info["gender"])
  print(extra_info.get("gender",  "Gender Not Filled"))

func2("Joshith",20)

Joshith
20
Gender Not Filled

In [ ]:
def func2(name,age, **extra_info):
  print(name)
  print(age)
  print(extra_info)
  #print(extra_info["gender"])
  print(extra_info.get("gender",  "Gender Not Filled"))

func2("Joshith",20, gender= "Male", pan_number = 124)

Joshith
20
{'gender': 'Male', 'pan_number': 124}
Male

### Extraargs: Keyword argument in form of a dictionary.

In [ ]:
def create_person(name, age, gender, **extra_info):
    pass
    # create output dictionary contanining mandatory as well optional attribute

create_person(name = "Rohit", age = 1500, gender = "Male", color = "blue", hobby = "chess")

```
{'name': 'Rohit',
 'age': 1500,
 'gender': 'Male',
 'color': 'blue',
 'hobby': 'chess'}
 ```

In [ ]:
def random(x, y, *args, **kwargs):
    print(x)
    print(args)
    print(kwargs)

random(2,3, n=5,m =6)

2
()
{'n': 5, 'm': 6}

In [ ]:
def random(x, y, *args, **kwargs):
    print(x)
    print(args)
    print(kwargs)

random(2,3,5,6, n=5,m =6)

2
(5, 6)
{'n': 5, 'm': 6}

In [ ]:
def random(x, y, *args, **kwargs):
    print(x)
    print(args)
    print(kwargs)

random(2,3, n=5,m =6, 5,6)

SyntaxError: ignored

- Mandatory Arguments-> `*args`-> `**kwargs`

odd=lambda x: bool(x%2)
result=[n for n in range(10)] for i in result:
if odd(i):
continue
else:
print(i, end=" ") please explain the code .. didnt understand how it prints even number .. when print commant is for odd nums

In [ ]:
odd=lambda x: bool(x%2)
odd(6)

False

In [ ]:
odd=lambda x: (x%2)

result=[n for n in range(10)] 
for i in result: 
  if odd(i): 
    continue 
  else: 
    print(i, end=" ")

0 2 4 6 8

In [ ]:
(10%2)

0

In [ ]:
bool(11%3)

True

In [ ]:
lambda x: bool(x%2)

In [ ]:
# start, end =0 ,len(list)-1 # two pointer approach