<a href="https://colab.research.google.com/github/SachinScaler/DSML-OCT22-beginner-mon-1/blob/main/ProblemSolving_01Mar2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lecture Link: https://colab.research.google.com/drive/1AWBUxVC5P1L2ATVE1HI3cPXkex0vOjOF?usp=sharing


1) How many problem solving classes do we have ? 1 per week i.e. 4 per month

2) When is the next transition test happening ? Once every 2 weeks i.e 2 per month

3) Doubts or questions ? Whatsapp Group, support@scaler.com, Teaching Assistant

4) My email id ? titas.de_1@scaler.com

## Words of length
Write a Python function that takes a string and a length value as input arguments and returns the words from the string whose length is equal to the provided input length value.

**Input Sample**:
```
"The world has changed and none of us can go back all we can do is our best and sometimes the best that we can do is to start over"
5
```
**Output Sample**
```
[‘world’, ‘start’]
```

In [ ]:
str1 = "The world has changed and none of us can go back all we can do is our best and sometimes the best that we can do is to start over"
L = 5

words = str1.split(" ")
#print(words)
#result = []
#for word in words:
#  if len(word)==L:
#    result.append(word)

result1 = [word for word in words if len(word)==L] # list comprehension
print(result1)

result2 = list(filter(lambda x:len(x)==L,str1.split(" "))) # filter function
print(result2)

['world', 'start']
['world', 'start']

## Map, reduce and filter
In this exercise, complete the function func, which takes integers, names, and numbers as the parameters.

a. Use map() to return the list of the squares of each number.

b. Use filter() to return the list with only those names that have less than or equal to seven letters.

c. Use reduce() to return the product of elements of list numbers.

**Input Format**:
```
Space separated values for integers
Space separated values for names (string)
Space separated values for numbers
```
**Output Format**
```
List of the squares of each number
List with only those names that have less than or equal to seven letters.
The product of elements of list numbers.
```
**Input Sample 1**:
```
4 6 3 9 2 8 12
scaler interviewbit rishabh student course
4 6 9 23 5
```
**Output Sample 1**
```
[16, 36, 9, 81, 4, 64, 144]
['scaler', 'rishabh', 'student', 'course']
24840
```

In [ ]:
#from functools import reduce
import functools
def func(integers, names, numbers):
  squares = list(map(lambda x:x*x,integers))
  filtered_names = list(filter(lambda x:len(x)<=7,names))
  prod = functools.reduce(lambda x,y:x*y,numbers)

  return squares, filtered_names, prod

integers = [4,6,3,9,2,8,12]
names = ['scaler','interviewbit','rishabh','student','course']
numbers = [4,6,9,23,5]


squares, filtered_names, prod = func(integers, names, numbers)
print(squares)
print(filtered_names) 
print(prod)

[16, 36, 9, 81, 4, 64, 144]
['scaler', 'rishabh', 'student', 'course']
24840

In [ ]:
numbers = [1,2,3,4]
result = reduce(lambda x,y:x-y,numbers)
print(result)

-8

## Nested Sort
You are given a nested list of strings of varying lengths.

For each list, sort the string on the basis of the number of times the character ‘a’ appears in the string such that the string having the most number of ‘a’ comes first in the lists.

Complete the python function and return the sorted list.

Note: If 2 strings has the same number of 'a', keep them in the same order as entered in the list.

**Input Sample 1**:
```
3
mango banana guava
rose sandalwood
bccc aaa baac c
```
**Output Sample 1**
```
[['banana', 'guava', 'mango'], ['sandalwood', 'rose'], ['aaa', 'baac', 'bccc', 'c']]
```

In [ ]:
nested_str = [['mango','banana','guava'],['rose','sandalwood'],['bccc','aaa','baac','c']]
output =  [(sorted(s, key=lambda x: x.count("a"),reverse=True)) for s in nested_str]
print(output)

[['banana', 'guava', 'mango'], ['sandalwood', 'rose'], ['aaa', 'baac', 'bccc', 'c']]

In [ ]:
# Homework Question
# find the 2nd maximum element in O(1*N) TC and O(1) SC

arr = [1,5,6,-1,0,2,3]
# find 2nd maximum element
max_elem = max(arr) # O(N)
#print(max_elem)
second_max_elem = -1 * 10**9 # default value for the 2nd maximum element, -1e9 = -1 * 10**9
for elem in arr: #O(N)
  if elem>second_max_elem and elem!=max_elem:
    second_max_elem = elem

print(second_max_elem)

5

## 2nd lowest score
Find the second-lowest grade from the list of given names and grades of each student using lambda function. 

**Input Sample 1**:
```
[['S ROY', 1.0], ['B BOSE', 3.0], ['N KAR', 2.0], ['C DUTTA', 1.0], ['G GHOSH', 1.0]]
```
**Output Sample 1**
```
2.0 N KAR
```

In [ ]:
student_grades = [['S ROY', 1.0], ['B BOSE', 3.0], ['Amit Shah', 2.0], ['N KAR', 2.0], ['C DUTTA', 1.0], ['G GHOSH', 1.0]]
min_grade = 10**9
for student_grade in student_grades: #O(N)
  grade = student_grade[1]
  if grade<min_grade:
    min_grade = grade 
#print(min_grade)
second_min_grade = 10**9
for student_grade in student_grades: #O(N)
  student, grade = student_grade[0], student_grade[1]
  if grade<second_min_grade and grade!=min_grade:
    second_min_grade = grade 
    student_with_second_min_grade = student

# Total = O(2*N) = O(N) < O(N*logN)
print(second_min_grade, student_with_second_min_grade)

2.0 Amit Shah

In [ ]:
arr = [1,3,-1,0,5]
min_elem = 5
for elem in arr:
  if elem<min_elem:
    min_elem = elem
  print(elem,min_elem)

print(min_elem)

1 1
3 1
-1 -1
0 -1
5 -1
-1

In [ ]:
a=[1,[2,3],4,5]
output = [3,[4,6],12,15]
output = [3,[2,3,2,3],12,15]

result = lambda x: list(map(lambda y:2*y, x)) if isinstance(x,list) else lambda x:3x
print(result(a))

SyntaxError: ignored